@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css or a CSS module */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
  }